*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav-bar{
  
    height:50px;
    
}
.sticky{
    position: sticky;
    top:0px;
    z-index: 1;
}
.nav-bar ul a{
text-decoration: none;  
font-weight: 900;
color: rgb(255, 255, 255);  
font-size: 20px;
border-radius: 5px;
padding: 5px 13px 5px 13px;

}
.nav-bar ul a:hover{
background-color: rgb(231, 170, 182);
}
.nav-bar ul li{
list-style-type: none;
}
.nav-bar ul{
    display: flex;
    justify-content: center;

}
.nav-bar ul li{

    margin-top: 10px;
    margin-bottom: 10px;

}
.button{
    display: none;
}

/*nav responsive only*/
@media (max-width:600px){
.nav-bar{

    top: -20px;
    width: 100%;
    position:absolute;
    height: 110vh;
    background:  rgb(31, 31, 31);
    border-radius: 1 auto;
transition: 0.5s;

}
.sticky{
    position: sticky;
    top:0;
    z-index: 1;
}
.button{
    border-radius: 20px;
    display: block;
    background: rgb(31, 31, 31);
    height: 50px;
   position: absolute;
}
.button i{
   
  padding-right: 20px;
    margin-top: 10px;
    font-size: 30px;
    color: white;
    margin-left: 20px;
}
.nav-bar{
   left: -600px;
   margin-top: -3vh;
}
.nav-bar.active{
    left:0;
}
.nav-bar ul li{
    margin: 20px auto;
}
.nav-bar ul  {
    display:block;
    text-align: center;
    margin-top: 70px;
}
.nav-bar ul li{ 
    display: block;
    text-align:center;
    margin-right: 20px;
}
}  
/* nab bar responsive finised*/

.home-image{
margin-top: -50px;
    height: 110vh;
    background: url(images/home-picture.jpg);
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
   
    
}


 /*home text*/
.text {
    
position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
 
 }
 .animation-text{
     position: absolute;
          top: 70%;
          left: 50%;
          transform: translate(-50%, -50%);
 }

 /*text finished now  i have to css this*/
  /*arrow down button*/
  .down-arrow{
    
    position: absolute;
    top: 90%;
    left: 50%;
    font-size: 30px;
 background: cadetblue;
}

.down-arrow p{
    transform: rotate(90deg);
    line-height: 12px;
    font-size: 30px;
letter-spacing: 3px;
}
.down-arrow a{
    text-decoration: none;
}

/*about section start*/
.about-container{
   
    height:50%;
   background-color: rgb(45, 45, 46);
}
.about-container-gird{
   display: flex;
}
.con1{
 
    align-self: cnter;
    text-align: center;
    padding-top: 30px;
   padding-bottom: 100px;
    background-color: lightblue;
}
.con1 h1{
   color: rgb(35, 225, 231);
}
.con1::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 5px;
    border-top: 3px solid rgb(241, 29, 29);
    bottom: 0px;
    transform: translate(-90px,155px);
    
    color: rgb(128, 0, 255);
    margin-top: 30px;
}
.con1::after{
    content: "Who i am";
    position: absolute;
    transform: translate(-30px,-3px);
    background-color: white;
}
.con2 img{
    height: 200px;
    border-radius: 50%;
    position: relative;
  
}
.con2{
    margin-left: 300px;
}


.con3{
    margin-left: 100px;
}

.education-section{
    height: 30%;
    background: royalblue;
   
}
.education-title{
    text-align: center;
    margin-bottom: 30px;
   
   
}
.education-title h1{
    padding-top: 30px;
}
.education-title::after{
    content:"";
    position:absolute;
    height: 3px;
    transform: translateX(-1%);
    width: 200px;
    border-top: 3px solid rgb(241, 29, 29);
}
.edu-top{
    text-align: left;
    margin-left: 600px;
    background-color: yellow;
    
}
.edu-top::after{
    content: "do not judge me on basis of my education";
height: 4px;
}
/*skill section start*/

.skill-section{

    height: 50%;

 background: turquoise;
}

.skill-title{
padding-top:30px ;
    text-align: center;
   
}
.skill-title::after{
    content:"";
    position:absolute;
    height: 3px;
    transform: translateX(-1%);
    width: 200px;
    border-top: 3px solid rgb(241, 29, 29);
}
.skill-detail{
  min-width: 90%;
   margin-left: 300px;
   
}
.skill-bar{
   padding-top: 4px;
   padding-bottom: 4px;
  
   width: 40%;
    background-color: #ddd;
}
.html{
 height: 10px;
    background: blueviolet;
    width: 50%;
    text-align: right;
}
.css{
    background-color:red ;
    width: 30%;
    text-align: right;
    height: 10px;
}
.js{
    background-color:blue ;
    width:15% ;
    text-align: right;
    height:10px ;
}
.gd{
    background-color: white;
    width: 10%;
    text-align: right;
    height: 10px;
}
.git{
    background-color:yellow ;
    width:10% ;
    text-align: right;
    height: 10px;
}
.seo{
    background-color: rgb(255, 123, 0);
    width:20% ;
    text-align: right;
    height: 10px;
}

/*my works*/
.work-title{
    background-color: orangered;
    text-align: center;
    padding: 20px 0px 40px 0px;
}
.myworks-section{
   
    background-color: purple;
}
.work-title h1::after{
    content:"";
    position:absolute;
    height: 3px;
transform: translate(-100px,30px);
    width: 200px;
    border-top: 3px solid rgb(241, 29, 29);
}

.flex1 ,.flex2{
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

    

.project1{
    background-image: url(images/one.jpeg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    height: 300px;
    width: 300px;
    
}
.project2{
    height: 300px;
    width: 300px;
    background-image: url(images/one.jpeg);
    background-position:top;
    background-size: contain;
    background-repeat: no-repeat;
}
.project3{
    margin-right: 10px;
    height: 300px;
    width: 300px;
    background-image: url(images/one.jpeg);
    background-position:top;
    background-size: contain;
    background-repeat: no-repeat;
}
.project4{
    height: 300px;
    width: 300px;
    background-image: url(images/one.jpeg);
    background-position:top;
    background-size: contain;
    background-repeat: no-repeat;
}
/*sevicess*/
#service{
    background: rgb(247, 44, 44);
height: 80%;
}
.service-title{
    text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}
.service-title h1::after{
    content:"";
    position:absolute;
    height: 3px;
transform: translate(-100px,30px);
    width: 200px;
    border-top: 3px solid rgb(255, 255, 255);
}

.service-flex1{
    display:flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: center;
}
.service1{
    margin: 30px;
    height: 200px;
    width: 200px;
    background: orange;
}
.service2{
    margin: 30px;
    height: 200px;
    width: 200px;
    background: rgb(0, 204, 255);
}
.service3{
    margin: 30px;
    height: 200px;
    width: 200px;
    background: rgb(21, 255, 0);
}
/* contact section*/
.contact-section{
    height: 50%;
    background:yellow;
}
.contact-title{
    text-align: center;
}