@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Amita&family=Assistant&family=Carme&family=Courgette&family=Finger+Paint&family=Lato:ital@1&family=Lemonada&family=Nixie+One&family=Overpass:wght@300&family=Pacifico&family=Wellfleet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type:none;

}

html{
    scroll-behavior: smooth;
}

.nav-bar{
   position:sticky;
   top: 0px;
   z-index: 1;
  
}
.navcontent{
  display:inline-block;
  background-color: aqua;
  position: absolute;
  width: 400px;
  text-align: center;
  height: 80px;
  left: -400px;
  transition: 0.6s;
  font-size: 40px;
}

.navcontent .ul{
    padding-top: 200px;
}

.but{
position: absolute;
margin-top: 30px;


}
.nav-bar .but i{
   font-size: 30px;
   margin-left: 50px;
   margin-top: -20px;
   z-index:1;
   color: rgb(255, 255, 255);
   background-color: aqua;
  padding: 10px;

}
.nav-bar ul a{

font-family:  'Wellfleet', cursive;
font-size: 23px;
}
/*  for nav effect */
.aab{
left: 0px;
}
/* nab bar responsive finised*/

.home-image{
    margin-top: -50px;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(6, 212, 219, 0.795), rgba(9, 226, 241, 0.527)), url(images/home-picture.jpg);
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  
   
}

 /*home text*/
.text {
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);


 
 }
.text h1{ 
   font-family: 'Assistant', sans-serif;
     font-size: 60px;
   
  
}
.text .hello{
 color:rgb(252, 79, 10);
}
.s, .a ,.b, .i,
.n,.d,.aa,.r,
.y,.aaa,.l,.dot{
    color:rgb(255, 255, 255);

}

.s:hover, .a:hover ,.b:hover, .i:hover,
.n:hover,.d:hover,.aa:hover,.r:hover,
.y:hover,.aaa:hover,.l:hover,.dot:hover{
    -webkit-text-fill-color:transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(224, 224, 224);
    font-size: 60px;
}
.animation-text span:hover{
    font-size: 30px;
    
}

.animation-text{
    cursor: pointer;
     position: absolute;
     font-family: 'Assistant', sans-serif;
    
     margin: 5px 0;

          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
 }
 
.animation-text h2 span{
    color: crimson;
    font-weight: 900;
    background-color: ivory;
    border-radius: 5px;
    font-family:  'Wellfleet', cursive;
}
 /*text finished now  i have to css this*/
  /*arrow down button*/
  .down-arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    font-size: 30px;

}  

.down-arrow i{
    color:white;
   
 
}
.down-arrow {
	-moz-animation: jump 3s infinite;
	-webkit-animation: jump 3s infinite;
	animation: jump 2.5s infinite;
}
@-moz-keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*about section start*/

.con1{
  text-align: center;
    padding-top: 60px;
    letter-spacing: 2px;
   padding-bottom: 60px;
    background-color: rgb(255, 255, 255);
}
.con1 h1{
    font-family: 'Piedra', cursive;
    font-weight: 500;
   color: rgb(0, 12, 12);
   font-size: 30px;
}
.con1::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 5px;
    border-top: 3px solid rgb(241, 29, 29);
    bottom: 0px;
    transform: translate(-90px,124px);
    margin-top: 30px;
}
.con1::after{
    font-family: 'Overpass', sans-serif;
text-align:center;
    content: "Who i am";
    position: absolute;
    transform: translate(-30px,-3px);
    background-color: rgb(5, 238, 255);
}
.about-container-flex{
background:url(images/wave.svg);
    display:flex;
    padding: 100px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
background-repeat: no-repeat;
background-size: cover;
    color:rgb(0, 255, 149);
}

.picture img{
    height: 200px;
    border-radius: 50%;
}
.picture{
 min-width: 300px;
 margin-top: -30px;
    
}

.con3 h1{
max-width: 700px;
color: rgb(0, 0, 0);

   
}

@media (max-width:800px){
    .about-container-flex{
        display: flex;
        flex-direction: column;
  
    }
    
}

/*resume
 section 


 */
/*skill section start*/
.resume{
    background-image:url(images/abs.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    height: 50%;
}
.skill-title{
    text-align: center;
    
  margin-top: 40px;
   
}


.skill-title h1{

    font-family:  'Wellfleet', cursive;
   color: rgb(0, 0, 0);
}
.skill-title::after{
    content:"what i know";
  background: rgb(236, 239, 240);
position:relative;
   height: 3px;
   left:10px;
   font-family: 'Overpass',cursive;
  
}
.skill-title:before{
    content: "";
    position: absolute;
    transform: translateX(-100px);
margin-top: 40px;
  width: 200px;
  height: 3px;
  background-color: rgb(201, 45, 45);
}
.set{

display: flex;
flex-direction: column;


}
.inside-skill{

    margin-top: 40px;
    height: 50%;
  
}
.html i,.css i,  .js i ,.git i{
    font-size: 100px;
    color:rgb(226, 38, 38);
}

.first-row{
  /* background-color: cornflowerblue;*/
display: grid;
grid-template-columns:repeat(2 ,1fr);
justify-items: center;
}
.figma{
  /* background-color: crimson;*/
margin-left: 50px;
}
.photoshop{
 /*  background-color: cyan;*/
    margin-top: 20px;
}

.main-row{
    justify-content: center;
  /* background-color: orange;*/
    margin-top: 40px;
   display: flex;

}
.html{
  margin: 20px;
   /*  background-color: orchid;*/
}

.css{
   /*  background-color: palegreen;*/
}
.js{
    margin: 30px;
    /* background-color: purple;*/
}
.git{
    /* background-color: rgb(204, 238, 10);*/
}
.last-row{
    justify-items: center;
  /*   background-color: rgb(12, 226, 137);*/
    display:grid;
    grid-template-columns:repeat(2 ,1fr);
 margin-top: 20px;
}
.seo{
    margin-left: -150px;
   /*  background-color: yellowgreen;*/
}
.gp{
    margin-left: -400px;
   /* background-color: tomato;*/
}
/*my works*/
.work-title{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0px 40px 0px;
}
.work-title h1{
    font-family:  'Wellfleet', cursive;
}
.work-title::after{
    content: "some of my works";
background-color: rgb(17, 240, 110);
position: relative;
font-family: 'Overpass',cursive;
}
.myworks-section{
   
   background-color: rgb(7, 204, 96);
}
.work-title h1::before{
    content:"";
    position:absolute;
    height: 3px;
    transform: translate(-50px,40px);

background-color: rgb(14, 234, 250);
    width: 200px;
    
}
.project-contianer .forimage{
    height: 200px;
}
.project-contianer{
    margin-left: 300px;
   display: flex;
   flex-direction: column;
   justify-items: center;
}

.box{
    display: flex;
    
}
.thado{
    background-color: aqua;
}

.tasro{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 0, 179);
}
.b1{
    display: flex;
    flex-direction: row;
    background-color: rgb(89, 0, 255);
}
.c1{
    display: flex;
    flex-direction:row;
    background-color: rgb(255, 0, 0);
}
.box2{
    display: flex;
    
}
.thado2{
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 147, 15);
}
.kjl{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 0, 149);
}
.b12{
    display: flex;
    flex-direction: row;
    background-color: rgb(76, 0, 255);
}
.tasro2{
    display:flex;
    flex-direction: column;
    background-color: rgb(0, 255, 85);
}
.c12{
    background-color: blueviolet;
    display: flex;
   flex-direction: column;
}
.bb{
    width: 300px;
}
.cc{
    width: 300px;
}
.ff{
    width: 300px;
}
.bb2{
    width: 300px;
}
.cc2{
    width: 300px;
}
.ff2{
    width: 300px;
}
/*sevicess*/
.service{
    background: rgb(247, 44, 44);
height: 50%;
}
.service-title{
    text-align: center;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}


.service-title h1{

    font-family:  'Wellfleet', cursive;
   color: rgb(0, 0, 0);
}
.service-title::after{
    content:"what can i do";
  background: #05fa9c;
position:relative;
   height: 3px;
  margin-left: -15px;
   left:10px;
   font-family: 'Overpass',cursive;
  
}
.service-title:before{
    content: "";
    position: absolute;
    transform: translate(-90px,-7px);
margin-top: 40px;
  width: 200px;
  height: 3px;
  background-color: rgb(7, 223, 252);
}
/* contact section*/
.contact-section{
    
    background-color: rgb(189, 189, 189);
   
}
.contact-title{
    text-align: center;
    background: rgb(43, 188, 245);
  
  
} 
.contact-title h1{
   padding-top:30px;
padding-bottom: 30px;
    font-family:  'Wellfleet', cursive;
}
.contact-title::before{
    content: "";
    position: absolute;
    width: 180px;
    background: white;
    height: 3px;
    transform: translate(-90px,65px);
}
.contact-title::after{
    content: "get in touch";
    background: rgb(248, 248, 248);
    position: relative;
    font-family: 'Overpass',cursive;
top:-35px;
}
.contact-box{
  display:flex;
  flex-direction: row;
justify-content: center;
}
input[type=text],input[type=email]{
    font-family: FontAwesome;
 font-size: 18px;
 color:green;
margin-top: 10px;
line-height:  25px;

   
}
label{
    color: honeydew;
    font-size: 25px;
}
.input-form{
    margin-right:  200px;
    margin-top: 50px;
}
.copywrite-section{
   

    
    text-align:center;
   
}
.copywrite-section h1{
   
    font-family: 'Finger Paint', cursive;
}

.swiper-container {
    width: 600px;
    height: 300px;
  }
.simg{
    height: 300px;
}
.divdiv{
    display: flex;
    flex-direction: row;
}

