*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav-bar{
    background: rgb(31, 31, 31);
    height:50px;
    
}
.sticky{
    position: sticky;
    top:0px;
    z-index: 1;
}
.nav-bar ul a{
text-decoration: none;  

color: rgb(255, 255, 255);  
font-size: 20px;
border-radius: 5px;
padding: 5px 13px 5px 13px;

}
.nav-bar ul a:hover{
background-color: rgb(231, 170, 182);
}
.nav-bar ul li{
list-style-type: none;
}
.nav-bar ul{
    display: flex;
    justify-content: center;

}
.nav-bar ul li{

    margin-top: 10px;
    margin-bottom: 10px;

}
.button{
    display: none;
}

/*nav responsive only*/
@media (max-width:600px){
.nav-bar{

    top: -20px;
    width: 100%;
    position:absolute;
    height: 110vh;
    background:  rgb(31, 31, 31);
    border-radius: 1 auto;
transition: 0.5s;

}
.sticky{
    position: sticky;
    top:0;
    z-index: 1;
}
.button{
    display: block;
    background: rgb(31, 31, 31);
    height: 50px;
   position: absolute;
}
.button i{
  padding-right:100vh ;
    margin-top: 10px;
    font-size: 30px;
    color: white;
    margin-left: 20px;
}
.nav-bar{
   left: -600px;
   margin-top: -3vh;
}
.nav-bar.active{
    left:0;
}
.nav-bar ul li{
    margin: 20px auto;
}
.nav-bar ul  {
    display:block;
    text-align: center;
    margin-top: 70px;
}
.nav-bar ul li{ 
    display: block;
    text-align:center;
    margin-right: 20px;
}
}  
/* nab bar responsive finised*/

.home-image{

    height: 100vh;
    background: url(images/home-picture.jpg);
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
   
    
}


 /*home text*/
.text {
    
position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
 
 }
 .animation-text{
     position: absolute;
          top: 70%;
          left: 50%;
          transform: translate(-50%, -50%);
 }
 /*text finished now  i have to css this*/
  /*arrow down button*/
.down-arrow{
    
    position: absolute;
    top: 90%;
    left: 50%;
    font-size: 30px;
 background: cadetblue;
}
.down-arrow p{
    transform: rotate(90deg);
    line-height: 12px;
    font-size: 30px;
letter-spacing: 3px;
}
.down-arrow a{
    text-decoration: none;
}

/*about section start*/